{% extends 'core/core.html' %}
{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}

        {{ form.username.label_tag }} {{ form.username }}
        <span class="helptext">{{ form.username.help_text }}</span>
        
        {{ form.password1.label_tag }} {{ form.password1 }}
        <span class="helptext">{{ form.password1.help_text }}</span>

        {{ form.password2.label_tag }} {{ form.password2 }}
        <span class="helptext">{{ form.password2.help_text }}</span>

        
        <input class="button" type="submit" value="Register">
    </form>
    
</div>

<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

{% endblock content %}