{% extends 'core/core.html' %}
{% block content %}

{%if request.user.is_authenticated %}

<form id="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit"><i class="fa-solid fa-right-from-bracket"></i></button>
</form>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>
<h3 style="margin: 0;">You have  <b>{{count}}</b>  incomplete tasks</h3>

    <a href="{% url 'home' %}">Home</a>

<a href="{% url 'task-create' %}"><i class="fa-solid fa-plus"></i>Add Task</a>

<form method="get">
    <input type="text" name="search-bar" value="{{search_input}}">
    <input type="submit" value="Search">
</form>


<table>
    <tr>
        <th>Tasks</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No Items in list</h3>
    {% endfor %}
</table>

{% endblock content %}
