{%if request.user.is_authenticated %}
<p>{{request.user}}</p>
<form id="logout-form" method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>
<h1>Task Tracker</h1>



<a href="{% url 'task-create' %}">Add Task</a>

<form method="get">
    <input type="text" name="search-bar" value="{{search_input}}">
    <input type="submit" value="Search">
</form>


<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No Items in list</h3>
    {% endfor %}
</table>