body {
    background-color: rgb(53, 213, 235);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    padding-top: 50px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 70%;
    height: auto;
  }

.banner {
    background-color: #fff;
    color: #4b5156;
    margin-bottom: 20px;
}
.banner .row {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
}

.row h1 {
    text-transform: uppercase;
    text-align: center;
}

.row p {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

a,
p {
    color: #4b5156
}

a {
    font-weight: 600;
}





.container {
    max-width: 650px;
    height: 650px; 
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px #555355;
    box-shadow: 2px 2px 13px -4px #555355;
    border: none;
    border-radius: 20px;

    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}


@media (max-width: 767px) {
    .banner .row {
        flex-direction: column; /* Stack vertically on mobile */
    }
    .banner .row img {
        margin-top: 20px; /* Add space between text and image */
    }
}