body {
    background: #2B236F;
    background: linear-gradient(225deg, #2B236F, #B86931);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

a,
p {
    color: #252525
}

a {
    font-weight: 600;
}

p  {
    margin-top: 20px;
    margin-bottom: 20px;
}


.alert {
    padding: 20px;
    background-color: #4CAF50; 
    color: white;
    border-radius: 5px; 
    opacity: 1; 
    transition: opacity 0.6s ease-out; 
    position: relative;
    animation: fadeOut 5s forwards; 
}

/* Keyframes to fade out the alert */
@keyframes fadeOut {
    0% { opacity: 1; } /* Start fully visible */
    80% { opacity: 0; } /* Gradually fade out */
    100% { display: none; } /* Hide it after fade */
}


/* login page  */

.header-bar h1 {
    font-size: 48px;
    margin-bottom: 50px;
}

.card-body p {
    margin-bottom: 20px;
}

.card-body input {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;  
    background-color: transparent; 
    transition: all 0.3s ease;
}

.card-body input:hover {
    color: white; 
    background-color: #292929;
}

/* register page  */

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.helptext {
    display: block;
    margin-bottom: 10px;
    color: #6c757d;
    font-size: 0.9em;
    margin-top: 10px;
}


 /* home page  */

img {
    max-width: 60%;
    height: auto;
  }

.banner {
    background-color: #fff;
    color: #4b5156;
    margin-bottom: 20px;
}
.banner .row {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
}

.container1 a {
    margin-top: 50px !important; 
    border: 1px solid gray;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;  
    background-color: transparent; 
    transition: all 0.3s ease;
}

.container1 a:hover {
    color: white; 
    background-color: #292929;
}

.row h1 {
    text-transform: uppercase;
    text-align: center;
}

.row p {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}










.container {
    max-width: 650px;
    height: 650px; 
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px #555355;
    box-shadow: 2px 2px 13px -4px #555355;
    border: none;
    border-radius: 20px;

    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}


@media (max-width: 767px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
    .banner .row {
        flex-direction: column; 
    }
    .banner .row img {
        margin-top: 20px; 
    }
}